{% extends 'base.html' %}
 
{% block content %}
<style>
    #true {
        color: green;
    }
    #false {
        color: red;
    }
</style>

<h1>{{ prct['name'] }} 관리</h1>

{% if prct['alarm'] %}
    <div class="alert alert-warning" role="alert">
        경보가 작동 중입니다. 경보를 해제하려면 <a href="/device/manage/{{ prct['serial'] }}?alarm=false&alarm_disable=true">여기</a>를 눌러주세요.
    </div>
{% endif %}
{% if status == status_normal %}
    <div class="alert alert-primary" role="alert">
        제품이 잘 작동되고 있습니다.
    </div>
{% elif status == status_warn %}
    <div class="alert alert-warning" role="alert">
        확인할 사항이 있습니다.</a>
    </div>
{% elif status == status_error %}
    <div class="alert alert-danger" role="alert">
        에러가 발생했습니다. <a href="/system/log">기록 보기</a>
    </div>
{% elif status == status_criti %}
    <div class="alert alert-danger" role="alert">
        심각한 에러가 발생했습니다. <a href="/system/log">기록 보기</a>
    </div>
{% endif %} 

{% if prct['type'] == 'cam' %}
    <h2>실시간 화면 열람</h2>
    <img id="live-image" src="{{ url_for('main.device.get_image') }}?req_user_uuid={{ user_info['uuid'] }}&prct_serial={{ prct['serial'] }}" alt="Live Cam" width="400">
    <script>
        const imageElement = document.getElementById("live-image");

        setInterval(() => {
            const timestamp = new Date().getTime();
            imageElement.src = `{{ url_for('main.device.get_image') }}?req_user_uuid={{ user_info['uuid'] }}&prct_serial={{ prct['serial'] }}&t=${timestamp}`;
        }, 2000);
    </script>
{% endif %}


<h2>기기 정보</h2>
<p>
    이름: {{ prct['name'] }} | 상세: {{ prct['description'] }}<br>
    모델: {{ prct['model'] }} | 생성일자: {{ prct['created_at'] }}<br>
    시리얼: {{ prct['serial'] }} | 마지막연결: {{ prct['last_connection'] }}
</p>
{% if prct['type'] == 'cam' %}
    <div class="form-check form-switch">
        재부팅기능: {% if prct['reboot_possible'] %}<span id='true'>활성화</span>{% else %}<span id='false'>비활성화</span>{% endif %} <input class="form-check-input" type="checkbox" role="switch" id="reboot-poss-sw" {% if prct['reboot_possible'] %}checked{% endif %}>
    </div>
    <div class="form-check form-switch">
        경보기능: {% if prct['alarm_possible'] %}<span id='true'>활성화</span>{% else %}<span id='false'>비활성화</span>{% endif %} <input class="form-check-input" type="checkbox" role="switch" id="alarm-poss-sw" {% if prct['alarm_possible'] %}checked{% endif %}>
    </div>
    <div class="form-check form-switch">
        <button id="alarm-turnon-button" type="button" class="btn btn-danger btn-sm">경보 발생</button>&nbsp;<button id="alarm-turnoff-button" type="button" class="btn btn-warning btn-sm">경보 비활성화</button>
    </div>
{% endif %}

<hr>
<div class="row">
    <div class="col">
        <a href="/dashboard" class="btn btn-primary">대시보드로</a>
    </div>
    <div class="col text-end">
        {% if prct['work_space_uuid'] != None %}
            <button type="button" id="work-space-unregi-btn" class="btn btn-primary">작업 공간에서 제품 해제</button>
        {% endif %}
        <a href="/device/userunregi" class="btn btn-secondary">제품 등록 해제</a>
    </div>
</div>

<script>
    const rebootPossSwitch = document.getElementById("reboot-poss-sw");
    const alarmPossSwitch = document.getElementById("alarm-poss-sw");
    const alarmTurnonBtn = document.getElementById("alarm-turnon-button");
    const alarmTurnoffBtn = document.getElementById("alarm-turnoff-button");
    const workSpaceUnregiBtn = document.getElementById("work-space-unregi-btn");

    rebootPossSwitch.addEventListener("change", async () => {
        if (confirm("재부팅 기능을 변경하시겠습니까?") === true) {
            window.location.href = "/device/manage/{{ prct['serial'] }}?reboot_poss=" + rebootPossSwitch.checked;
        } else {
            rebootPossSwitch.checked = !rebootPossSwitch.checked;
        }
    });

    alarmPossSwitch.addEventListener("change", async () => {
        if (confirm("경보 기능을 변경하시겠습니까?") === true) {
            window.location.href = "/device/manage/{{ prct['serial'] }}?alarm_poss=" + alarmPossSwitch.checked;
        } else {
            alarmPossSwitch.checked = !alarmPossSwitch.checked;
        }
    });

    function control_alarm(_alarm) {
        if (_alarm)
            window.location.href = "/device/manage/{{ prct['serial'] }}?alarm=true&alarm_disable=false";
        else
            window.location.href = "/device/manage/{{ prct['serial'] }}?alarm=false&alarm_disable=true";
    }

    alarmTurnonBtn.addEventListener("click", async () => {
        if (confirm("경보를 울리시겠습니까? 수동으로 비활성화 해야합니다.") === true)
            control_alarm(true);
    });

    alarmTurnoffBtn.addEventListener("click", async () => {
        if (confirm("경보를 비활성화하시겠습니까?") === true)
            control_alarm(false);
    });

    workSpaceUnregiBtn.addEventListener("click", async () => {
        if (confirm("작업 공간에서 제품을 해제하시겠습니까?") === false)
            return

        window.location.href = "/device/work-space-unregi?prct_serial={{ prct['serial'] }}";
    });

</script>

{% endblock %}