{% extends 'base.html' %}
 
{% block content %}
<style>
    #main-div {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
</style>

<div id='main-div'>
    <h3>당신의 평생 보안 솔루션</h3><br>
    <p style="font-size: 60px;">비전가드입니다.</p>
</div>
<hr>
<!-- 로그인 후 이용하세요-->
{% if not user_info %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2><a href='/user/login'>로그인</a></h2>
        </div>
        <div class="col-md-4">
            <h2><a href='/user/sign'>회원가입</a></h2>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}