[Unit]
Description=Vision Guard Client
Documentation=https://github.com/Choi-s-Chicken/vision-guard.git
After=multi-user.target

[Service]
Type=simple
ExecStart=/bin/sudo /bin/bash /home/vgadmin/vision-guard/VGServerStarter.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target